name: Publish to crates.io

on:
  release:
    types: [published]

jobs:
  publish:
    environment: crates.io
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          override: true
      - uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
